*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-between{
    justify-content: space-between;
}
.flex-col{
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.bt-1{
    border-top: 1px solid grey;
}
.bb-1{
    border-bottom:1px solid gray;
}
.navbar{
    height: 130px;
    background-color: white;
    position: fixed;
    top: 0px;
    width:100%;
    z-index: 9999;
}
.navbar .left .list ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    margin: 0px 10px;
    transition: .4s all ease;
}
.navbar .left .list ul li a:hover{
    color:rgb(52, 151, 52);
}
.navbar .left .list{
    margin-left: 30px;
}

.navbar .left{
    margin-left:70px;
}
.relat{
    position: relative;
}
.navbar .left ul ul{
    position:absolute;
    top:10px;
    width: 140px;
    transform: scale(1);
}

.navbar .right{
    margin-right: 20px;
}
.navbar .right i{
    margin-right: 8px;
    cursor: pointer;
}
.navbar .right .icon-0{
    margin-right: 8px;
    background-color: rgb(55, 151, 55);
     border-radius:50%; 
    color:white; 
    padding:2px 7px; 
    font-size:22px;
    cursor: pointer;
}
.community{
    font-size: 18px;
    cursor: pointer;
}
.community:hover{
    color: grey;
}
#user{
    color:black; 
    font-size:25px;
}
.filter,.price{
    width: 150px;
    margin-left: 40px;
}
.filter button{
    background-color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
}
.collection-content ul{
    list-style-type: none;
    
}

.collection-content ul li a{
    text-decoration: none;
    color: black;
    line-height: 23px;
}
.collection-content{
    margin-top: 10px;
    display: none;
    transition: .9s all ease-in;
}
.container-1{
    position: relative;
    margin-top: 130px;

}
.container-1 img{

     width: 98.4vw;
}
.container-1 .absolute-img{
    position: absolute;
    top: 15vh;
    right: 3vw;
    width: 60vw;

}
.container-1 h1{
    position: absolute;
    color: white;
    top: 20vh;
    left: 10vw;
    font-size: 5.5vw;
    letter-spacing: 6px;
}
.container-1 h4{
    position: absolute;
    top: 53vh;
    left: 10vw;
    color: white;
    font-size: 2.5vw;
}
.container-1 button{
    
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 64vh;
    left: 10vw;
    border-radius: 40px;
    background-color: rgb(42, 151, 151);
    color: white;
    padding: 16px 50px;
    cursor: pointer;
    border: none;
}
.container-1 h2{
    position: absolute;
    bottom: 23vh;
    font-size: 6vw;
    left: 35vw;
    color: rgb(90, 156, 90);
}
.container-1 p{
    position: absolute;
    bottom: 13vh;
    left: 32vw;
    color: green;
}
.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.container-2 .sub-contain{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 55vh;
    width: 24vw;
    margin:20px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s all ease;
}
.container-2 .sub-contain:hover{
    transform: scale4(1.11);
}
.container-2 .sub-contain:hover .text p{
    color: rgb(67, 128, 67);
    font-size: 18px;
}
.container-2 .sub-contain .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-2 .sub-contain .text h4{
    font-size: 25px;
    padding: 12px;
}
.container-2 .sub-contain .text p{
    font-size: 17px;
    transition: .5s all ease;
    color: grey;
}

.shop-now .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.our-store{
    margin-top: 133px;
    margin-left: 553px;
    font-size: 25px;
} 

.optionss{
    margin-left: 915px;
}
.optionss option{
    padding-left:10px;
}
.optionss select{
    font-size: 20px;
}
/* our store img  */
.our-store-img .os-part-1{
    display: flex;
    justify-content: center;
}
.our-store-img .os-part-1 img{
    width: 320px;
    height: 320px;
    margin-top: 54px;
    margin-left: 21px;
}
.quickview{
    position: relative;
}
.hover-quickview a{
    color: black;
    text-decoration: none;
}
.hover-quickview{
    position: absolute;
    left: 20px;
    bottom: 80px;
    width: 94%;
    height: 0%;
    background-color: rgba(241, 239, 238);
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* transform: scale(0); */
    transition:all .3s ease-in-out;
}
.os-sapn{
    width: 267px;
    border: 0.4px thin black;
    padding-left: 17px;
    margin: 8px 4px;
    /* cursor: pointer; */
}
.os-sub-part-1{
    cursor: pointer;
    position: relative;
}
.os-sub-part-1 img:hover{
    filter: brightness(.5);
}
.rs{
    font-size: 18px;
    margin-left: 20px;
}
.loadmore{
    margin-left: 564px;
    margin-top: 40px;
    background-color:rgb(117, 31, 255);
    color: white;
    padding: 5px;
    width:20%;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    border-width: 0px
}
.loadmore:hover{
    opacity: 0.6;
}
.loadmore a{
    text-decoration: none;
    color: white;
}
.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.view-more button{
    background-color: rgb(38, 199, 100);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}
.view-more button:hover{
    background-color: green;
}
.chooseus{
    /* background-image: url("section-background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: 75vh; */
    /* margin: 15px 0px; */
    /* background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.65); */

}
.chooseus img{
    width: 98.5vw;
}
.sustainable-brands{

}
.sustainable-brands .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 50px 0px;
}
.sustainabl-container .scontainer-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sustainabl-container .scontainer-1 .box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 50vh;
    width: 22vw;
    margin:40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .6s all ease;
}
.sustainabl-container .scontainer-1 .box:hover{
    transform: scale(1.11);
    
}
.sustainabl-container .scontainer-1 .box:hover .text p{
    color: rgb(79, 143, 79);
}
.sustainabl-container .scontainer-1 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sustainabl-container .scontainer-1 .text h4{
    font-size: 25px;
    padding: 12px;
}
.sustainabl-container .scontainer-1 .text p{
    font-size: 17px;
    color: grey;
}
.viewall{
    margin-bottom: 20px;
    
}
.carousel-inner img:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
.viewall button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(78, 138, 78);
    color: white;
    border: none;
    border-radius: 50px;
}
.viewall button:hover{
    background-color: green;
}
.live-life{
    box-shadow: 0px 0px 20px 0px rgba(200,200,201,1),
0px 25px 20px -20px rgba(0,0,0,0.45);
    width: 95vw;
    margin: 30px auto;
}
.live-text{
    font-size: 40px;
    font-style: italic;
    color: rgb(62, 134, 62);
    margin-bottom:40px;
    padding-top: 40px;
    font-family: 'Caveat', cursive;
}
.join-us{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 40px;
    
    font-family: 'Roboto', sans-serif;
}
.email{
    margin-bottom: 30px;
}
.email input{
    border: 2px solid grey;
    padding: 8px 10px;
    width: 20vw;
}
.email input:hover{
    background-color: rgb(200, 228, 228);
    border: 2px solid rgb(54, 53, 53);
}
.submit-btn button{
    color: white;
    background-color: rgb(101, 179, 101);
    padding: 5px 25px;
    border: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all .3s ease;
}
.submit-btn button:hover{
    background-color: rgb(54, 138, 54);
    color: rgb(55, 55, 131);
}
.sus-img img{
    width: 100%;
}
.comming-soon h1{
font-size: 35px;
margin: 30px 0px;
}
.img-container{
    margin: 5px 25px;
    overflow-x: scroll;
    width: 120vw;
}
.img-container img{
    width: 100px;
}
/* footer */
.footer-container{
    background-color: rgb(7, 3, 56);
    color: white;
}
.containerInfo{
    display: flex;
    justify-content: space-evenly;
    
    padding: 40px 15px 150px;
}
.containerInfo h3{
    margin-bottom: 25px;
}
.containerInfo p{
    line-height: 30px;
    margin-bottom: 25px;
}
.containerInfo  img{
    margin-right:5px ;
}
.payments p{
    text-align: center;
}
.payments .payments-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.payments-logo img{
    margin:40px 45px;
    width: 71px;
    height: 35px;
}
.bottom-container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.bottom-container img{
    background-color: white;
    margin-bottom:10px ;
}
.bottom-container .img1{
    border-radius: 50%;
}
.bottom-container .img2{
   padding:10px;
   
}
